body {
    text-align: center;
}

.row {
    height: 100%;
    width: 100%;
}

#title {
    height: 100px;
    border: solid red 1px;
    padding-top: 20px;
    font-size: 25px;
}

#p1, #p2 {
    margin-top: 15px;
    border: solid 1px black;
    height: 75px;
    padding-top: 20px;
    font-size: 18px;
}

#inst {
    margin-top: 5px;
    height: 100px;

}

#p1images, #p2images, #game-display {
    margin-top: 15px;
    height: 250px;
}

#p1images {
    margin-left: 4%;   
}

#game-display {
    margin-left: 4.33%;
    background: url("../images/Monitor.png");
    background-size: 100% 100%;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    padding-top: 100px;
}

#p2images {
    margin-left: 4%;
}

img {
    width: 150px;
    height: 75px;
    border: 1px solid black;
    margin-top: 1px;
    box-shadow: 2.5px 2.5px;
}

img:hover {
    cursor: pointer;
}

#p1data, #p2data {
    border: solid black 1px;
    height: 214px;
    margin-top: 41px;
    padding-top: 20px;
}

#text {
    margin-top: 5px;
    height: 250px;
    border: solid rgb(0, 153, 255) 1px;
    overflow: auto;
}

#chatinput {
    position: relative;
}

#input-chat {
    width: 94%;
    left: 5px;
}

#btn-send {
    position: relative;
    left: 389px;
    bottom: 38px;
}

#p1login, #p2login {
    position: relative;
    top: 131px;
}

#input-p1login, #input-p2login {
    width: 84%;
}

#btn-p1login, #btn-p2login {
    position: relative;
    left: 174px;
    bottom: 38px;
}